sudo: false

language: go

go:
  - '1.13.x'

notifications:
  email: false

branches:
  only:
    - master

cache:
  directories:
    - $HOME/gopath/pkg/mod         # Cache the Go modules

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin latest
  - pushd .. && git clone https://github.com/onosproject/build-tools.git && popd

jobs:
  include:
    - stage: docs build
      if: type != pull_request
      script:
        - sh ../build-tools/build/travis/trigger-travis atomix docs master "`git rev-parse --short HEAD`" $TRAVIS_API_TOKEN
    - stage: tests
      script:
        - make coverage
